
* {
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
    font-family: 'Futura', sans-serif;
}

/* Column Container*/
.row {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
}

.header {
    padding: 15px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 35px;
}

.footer {
    background-color: #1abc9c;
    padding: 15px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.mapComp {
    -webkit-flex: 2;
    -ms-flex: 2;
    background-color: chocolate;
    height: 80vh;
    overflow-y: auto;
}

.leaflet-container{
    height: 100%;
   width: 100%;
}

.user_input {
    color #fff;
    background-color: #319e45;
    -webkit-flex: 1;
    -ms-flex: 1;
    padding: 40px;
    text-align: center;
  }

.formInsert {
    border-radius: 5px;
    padding: 0 36px;
}

input[type=submit] {
    width: 60%;
    padding: 6px 6px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    background-color: inherit;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text] {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 400;
    font-size: unset;
}

.theme_time {
    padding: 10px;
    background: orange;
    -webkit-flex: 1;
    -ms-flex: 1;
    height: 80vh;
    overflow-y: auto;
}


@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .user_input {
        height: 35vh;
        overflow: auto;
    }
}
  
table {
    width: 100%;
    border-spacing: 5px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}


img {
    height: 90px;
    width: 100px;
}

  